- previous_turn_teams = teams
- current_turn_teams = []
- 0.upto(turns - 1).each do |turn_index|
  - matches_in_turn = initial_matches / (2 ** turn_index)
  - 0.upto(matches_in_turn / 2 - 1).each do |match_in_turn_index|
    - left = turn_index * 200
    - top = ((2 ** (turn_index + 1)) * match_in_turn_index + (2 ** turn_index) -1) * 50
    div(style="left: #{left}px; top: #{top}px;")
      - current_turn_teams << previous_turn_teams[2 * match_in_turn_index]
      = render 'match_team', team: current_turn_teams.last
      - current_turn_teams << previous_turn_teams[(2 * match_in_turn_index) + 1]
      = render 'match_team', team: current_turn_teams.last

  = render 'left_side_connections', turns: turns, matches_in_turn: matches_in_turn, turn_index: turn_index
  = previous_turn_teams = current_turn_teams
