- if turn_index < (turns - 1) # it's not the final match
  - 0.upto(matches_in_turn / 4 - 1) do |connector_index|
    - reversed_turn_index = turns - turn_index
    - left = ((reversed_turn_index - 1) * 150 + (reversed_turn_index - 1) * 50 - 25) + (turns - 1) * 200
    - top = (((2.0 ** (turn_index + 1) - 1) / 2) + (2 ** (turn_index + 2)) * connector_index) * 50
    - height = (2 ** (turn_index + 1)) * 50
    i(style="left: #{left}px; top: #{top}px; height: #{height}px")
    span(style="left: #{left + 25}px; top: #{top + height / 2}px")
