#container
  = render 'left_side_matches', teams: teams.take(teams.size / 2), turns: steps
  = render 'right_side_matches', teams: teams.drop(teams.size / 2), turns: steps

#t
  h5 Top
  p George Harrison
  h5 Mid
  p John Lennon
  h5 Jungle
  p Axl Rose
  h5 AD Carry
  p Paul McCartney
  h5 Support
  p Ringo Starr
  h5 Substitute
  p Frank Sinatra
  h5 Substitute
  p Dean Martin
