@import url(http://fonts.googleapis.com/css?family=Scada:400,700);

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiasied;
}

html,
body {
  height: 100%;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: #222;
}

#container {
  position: relative;
}

#container:before,
#container:after {
  content: "";
  display: table;
}

#container:after {
  clear: both;
}

#intro {
  width: 80%;
  margin: 100px auto;
  color: #ccc;
}

#go-fullscreen {
  display: inline-block;
  background: lighten(black, 2%) image_url('fullscreen-icon.png') no-repeat;
  font-family: "Scada", "Arial Narrow",Arial,Helvetica,sans-serif;
  background-position: 10px 5px;
  border-radius: 4px;
  background-size: 20px;
  padding-left: 45px;
  padding-right: 10px;
  line-height: 32px;
  height: 32px;
  color: #C49246;
  text-decoration: none;
}

#brackets-wrapper {
  background: black;
  width: 100%;
  height: 500px;
  overflow: scroll;
  margin-bottom: 100px;

  &.fullscreen-brackets {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
  }
}

#container {
  > div {
    display: block;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    font-family: "Scada", "Arial Narrow",Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #CCC;
    position: absolute;
    font-weight: 400;

    h5 {
      margin: 0;
      padding: 5px 10px;
      background-color: #1E1D1D;
      background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
      background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.05) 0%,rgba(0, 0, 0, 0.05) 100%);
      background-image: linear-gradient(bottom, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);

      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.72),inset 0 1px 0 rgba(112, 112, 112, 0.35);

      &:hover {
        background: lighten(black, 20%);
        text-shadow: 0 1px 0 black;
        cursor: pointer;
      }
    }

    h5:nth-child(1) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-bottom: 1px;
    }

    h5:nth-child(2) {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  i {
    display: block;
    position: absolute;

    width: 25px;
    border-top: 1px solid #3d3d3d;
    border-right: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
  }

  b {
    display: block;
    position: absolute;

    width: 25px;
    border-top: 1px solid #3d3d3d;
    border-left: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
  }

  span {
    position: absolute;

    width: 25px;
    height: 1px;
    background-color: #3d3d3d;
  }
}

.highlight {
  color: #C49246;
}

.squared {
  border-radius: 0 !important;
}

#t {
  font-family: "Scada", "Arial Narrow",Arial,Helvetica,sans-serif;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #1E1D1D;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.72),inset 0 1px 0 rgba(112, 112, 112, 0.35);
  width: 175px;
  height: 300px;
  z-index: 99999;
  color: #ccc;
  background: lighten(black, 20%);
  text-shadow: 0 1px 0 black;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  h5 {
    margin: 0;
    font-size: 12px;
    color: #C49246;
  }

  p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
  }
}