<!DOCTYPE html>
<html>
<head>
  <title>MIKAMAI - Huge Bracket Tree Test</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="intro">
  <p>Video game culture is a form of new media culture that has been influenced by video games. As computer and video games have increased exponentially in popularity over time, they have caused a significant influence upon popular culture. This form of entertainment has spawned many fads. Video game culture has evolved in time, particularly in connection with internet culture. Today, the impact of computer and video games can be seen in politics, television, popular music, and Hollywood.</p>

  <a id="go-fullscreen" href="#">GO FULLSCREEN</a>
</div>

<div id="brackets-wrapper">
  <%= yield %>
</div>

</body>
</html>
